{% extends "base.html" %}

{% block content %}
<main>
    <form id="login-form" method="post">
        {% csrf_token %}
        <h2>Login</h2>

        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Se connecter</button>
    </form>
</main>

<script src="{% static 'scripts.js' %}"></script>
{% endblock %}
